body{
	background-color: Black;
	padding: 0;
	margin: 0;
	font-family: spartan;
	overflow: hidden;
	position: fixed;
	outline: none;
	border: none;
	font-weight: normal;
}
main#game{
	margin: 0;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	z-index: 0;
	position: fixed;
}
main#game>h1{
	color: White;
}
main#game>div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
div#game-labels{
	align-self: flex-start;
	display: grid;
	grid-template-columns: 10rem auto;
}
div#game-labels>label{
	transition: 0.25s opacity;
	color: White;
	position: relative;
	font-size: 1rem;
	opacity: 1;
}
div#game-labels>label#reset-refresh.hidden{
	opacity: 0;
}
a.tile{
	display: inline-block;
	position: absolute;
	width: 1rem;
	height: 1rem;
}
a.tile[data-tiletype = "player"]{
	transition: 0.1s top, 0.1s left, 0.1s background-color 0.05s, 0.1s background-image 0.05s;
	z-index: 1;
}
section#board{
	width: 90vw;
	height: 90vw;
	position: relative;
	padding: 0;
}
@media (orientation: landscape){
	section#board{
		width: 85vh;
		height: 85vh;
	}
}
div.tiles{
	transition: 0.5s opacity, 0.5s transform;
	opacity: 1;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	background-color: #333333;
	top: 0;
	overflow: hidden;
	transform: none;
}
div.tiles.fade-out{
	opacity: 0;
	transform: scale(2);
}
div#status{
	transition: opacity 0.25s;

	position: absolute;
	background-color: rgba(0.5, 0.5, 0.5, 0.5);
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	z-index: 1;
}
p#statusMain{	
	transition: margin-top 0.25s;
	text-align: center;
	color: White;
	font-weight: bold;
	font-size: 2rem;
}
p#statusSub{
	transition: padding-top 0.25s;
	text-align: center;
	color: White;
	font-weight: normal;
	font-size: 1rem;
}
p#statusMain.status-hidden, p#statusSub.status-hidden{
	padding-top: 100%;
}
p#statusMain.status-shown, p#statusSub.status-shown{
	padding-top: 0;
}
a{
	color: White;
}
.status-hidden{
	opacity: 0;
}
.status-shown{
	opacity: 1;
}
div#game-actions{
	padding: 0;
	margin: 0;
	align-self: flex-end;
	color: White;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
div#game-actions>button{
	transition: 0.25s opacity;
	width: 3rem;
	height: 3rem;
	font-size: 2rem;
	margin: 0.25rem 0 0 0;
	padding: 0;
	opacity: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
div#game-actions>button.disabled{
	opacity: 0.5;
	touch-action: none;
	pointer-events: none;
}
@media only screen and (max-width: 600px) {
	p#statusMain{
		font-size: 1rem;
	}
	p#statusSub{
		font-size: 0.75rem;
		line-height: 0.75rem;
	}
	main#game>div>label{
		font-size: 0.75rem;
	}
	div#game-labels{
		grid-template-columns: 8rem auto;
	}
	div#game-labels>label{
		font-size: 0.75rem;
	}
}

@font-face {
	font-family: spartan;
	src: url("/media/fonts/Spartan/Spartan-VariableFont_wght.ttf");
}