body{
	background-color: Black;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	overflow: hidden;
}
main#game{
	margin: 0;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	z-index: 0;
}
#game>h1{
	color: White;
}
a.tile{
	transition: 0.1s top, 0.1s left, 0.1s background-color 0.05s;
	display: block;
	position: absolute;
	width: 1rem;
	height: 1rem;
}
a.tile[data-tiletype = "player"]{
	z-index: 1;
}
section#board{
	width: 90vw;
	height: 90vw;
	position: absolute;
}
@media (orientation: landscape){
	section#board{
		width: 90vh;
		height: 90vh;
	}
}
div.tiles{
	transition: 0.5s opacity, 0.5s width, 0.5s height, 0.5s margin;
	opacity: 1;
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	background-color: #333333;
	top: 0;
}
div.tiles.fade-out{
	opacity: 0;
	width: 200%;
	height: 200%;
	margin: -50% 0 0 -50%;
}
div#status{
	transition: opacity 0.25s;

	position: absolute;
	background-color: rgba(0.5, 0.5, 0.5, 0.5);
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	z-index: 1;
}
p#statusMain{	
	transition: margin-top 0.25s;
	text-align: center;
	color: White;
	font-weight: bold;
	font-size: 2rem;
}
p#statusSub{
	transition: padding-top 0.25s;
	text-align: center;
	color: White;
	font-weight: normal;
	font-size: 1rem;
}
p#statusMain.status-hidden, p#statusSub.status-hidden{
	padding-top: 100%;
}
p#statusMain.status-shown, p#statusSub.status-shown{
	padding-top: 0;
}
a{
	color: White;
}
.status-hidden{
	opacity: 0;
}
.status-shown{
	opacity: 1;
}
@media only screen and (max-width: 600px) {
	p#statusMain{
		font-size: 1rem;
	}
	p#statusSub{
		font-size: 0.75rem;
		line-height: 0.75rem;
	}
}


/*Menu*/
section#menu{
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
	background-color: none;
	width: 0;
	transition: 0.25s width, 0.25s background-color;
}
section#menu.open{
	width: 20rem;
	background-color: #333333;
	height: 100%;
}
section#menu>nav{
	transition: 0.25s opacity, 0.25s visibility;
	opacity: 0;
	visibility: hidden;
	margin-top: 5rem;
	height: calc(100vh - 5rem);

	display: flex;
	flex-direction: column;
}
section#menu.open>nav{
	opacity: 1;
	visibility: visible;
}
nav>a{
	font-size: 2rem;
	line-height: 2rem;
	width: calc(100% - 1rem);
	padding: 0.5rem 1rem 0.5rem 0rem;
	text-align: right;
	cursor: pointer;
	white-space: nowrap;
}
a#install-button{
	margin-top: auto;
	line-height: 4rem;
	background-color: #888888;
}
div#icon{
	width: 3rem;
	height: 3rem;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
	float: right;
}
div#icon>a{
	width: 100%;
	height: 0.25rem;
	background-color: White;
	/*border-radius: 0.25rem;*/
}
@media only screen and (max-width: 600px) {
	div#icon{
		width: 6vh;
		height: 6vh;
		padding: 0.5vh;
	}
	section#menu{
		width: 0rem;
	}
	section#menu>nav{
		height: calc(100vh - 7vh);
	}
	div#icon>a{
		height: 0.2rem;
		width: 6vh;
	}
	section#menu.open{
		width: 15rem;
	}
	nav>a{
		font-size: 2rem;
	}
}

div#hold-indicator{
	transition: 0.25s width, 0.25s height, 0.25s top, 0.25s left, 0.25s opacity;
	position: fixed;
	width: 0;
	height: 0;
	opacity: 0;
	top: 0;
	left: 0;
	background-color: #ffffff;
	border-radius: 50%;
	touch-action: none;
	pointer-events: none;
	z-index: 50;
}
div#hold-indicator.active{
	width: 7rem;
	height: 7rem;
	opacity: 0.75;
	top: -3.5rem;
	left: -3.5rem;
}

/*Popup*/
section#popup{
	transition: 0.25s opacity, 0.25s visibility;
	opacity: 1;
	visibility: visible;
	z-index: 5;
	background-color: #33333360;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
div#options-section{
	height: 2rem;
}
section#popup.hidden{
	opacity: 0;
	visibility: hidden;
}
section#popup>a#exit-popup{
	font-size: 3rem;
	position: fixed;
	left: 0;
	top: 0;
	line-height: 3rem;
	padding: 0.5rem;
	cursor: pointer;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
}
.exit-arrow {
	width: 0;
	height: 0;
	border-top: 1.25rem solid transparent;
	border-right: 2.5rem solid White;
	border-bottom: 1.25rem solid transparent;
	margin: 0.5rem;
}
section#popup>iframe#popup-content{
	background-color: Black;
	width: calc(100vw - 10rem);
	height: calc(100vh - 10rem);
	outline: none;
	border: none;
}
@media only screen and (max-width: 600px) {
	section#popup>iframe#popup-content{
		width: 100vw;
		height: 93vh;
		text-align: center;
		margin-top: auto;
	}
	section#popup>a#exit-popup{
		font-size: 5vh;
		height: 6vh;
		width: 6vh;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5vh;
	}
	.exit-arrow {
		width: 0;
		height: 0;
		border-top: 2vh solid transparent;
		border-right: 4vh solid White;
		border-bottom: 2vh solid transparent;
		margin: 0.5vh;
	}
}