section#popup{
	transition: 0.25s opacity, 0.25s visibility;
	opacity: 1;
	visibility: visible;
	z-index: 5;
	background-color: #33333360;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: White;
}
div#options-section{
	height: 2rem;
}
section#popup.hidden{
	opacity: 0;
	visibility: hidden;
}
section#popup>a#exit-popup{
	font-size: 3rem;
	position: fixed;
	left: 0;
	top: 0;
	line-height: 3rem;
	padding: 0.5rem;
	cursor: pointer;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
}
.exit-arrow {
	width: 0;
	height: 0;
	border-top: 1.25rem solid transparent;
	border-right: 2.5rem solid White;
	border-bottom: 1.25rem solid transparent;
	margin: 0.5rem;
}
section#popup>section#popup-content{
	background-color: Black;
	width: calc(100vw - 10rem);
	height: calc(100vh - 10rem);
	outline: none;
	border: none;
    display: flex;
    flex-direction: column;
	align-items: center;
	background-color: Black;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	padding: 0 1rem 0 1rem;
}
section#popup>section#popup-content>section{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 100%;
	position: relative;
}
h1{
    font-size: 2rem;
}
h2{
	font-size: 1.5rem;
}
p{
	font-size: 1rem;
}
span.control{
	color: #888888;
	font-style: italic;
}

div.slider-container{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}
div.toggle-grid{
	display: grid;
	align-items: center;
	grid-template-columns: 5rem auto;
	grid-template-rows: repeat(10, 3rem);
}
div.toggle-grid>label:nth-child(odd){
	grid-column-start: 1;
}
div.toggle-grid>label:nth-child(even){
	grid-column-start: 2;
}
div.toggle-grid>label:not(.toggle-switch){
	margin-left: 1rem;
	text-align: left;
}
div.slider-container>label{
	width: 15rem;
	text-align: right;
	line-height: 2rem;
	margin-right: 2rem;
}
div.slider-container>input{
	width: 15rem;
}
div.slider-container>output{
	width: 3rem;
	text-align: center;
}
figure.instruction-diagram{
	display: flex;
	flex-direction: row;
	align-items: center;
}
figure.instruction-diagram img{
	height: 10rem;
	margin: 1rem;
}
figure.instruction-diagram a{
	font-size: 5rem;
	margin: 1rem;
}
figure.instruction-diagram div.progression{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
@media only screen and (max-width: 600px) {
	section#popup>section#popup-content{
		width: 100vw;
		height: 92vh;
		text-align: center;
		margin-top: auto;
	}
	section#popup>a#exit-popup{
		font-size: 5vh;
		height: 2rem;
		width: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
	}
	.exit-arrow {
		width: 0;
		height: 0;
		border-top: 1rem solid transparent;
		border-right: 2rem solid White;
		border-bottom: 1rem solid transparent;
		margin: 0.5rem;
	}
	div.slider-container{
		flex-wrap: wrap;
	}
	div.slider-container>label{
		width: 15rem;
		text-align: center;
		line-height: 2rem;
		margin-right: 0;
	}
	div.slider-container>input{
		width: 15rem;
		flex-basis: 100%;
		align-self: center;
	}
	div.slider-container>output{
		width: 3rem;
		text-align: center;
	}
	figure.instruction-diagram img{
		height: 6rem;
		margin: 0.5rem;
	}
	figure.instruction-diagram a{
		font-size: 3rem;
		margin: 0.5rem;
	}
	figure.instruction-diagram{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}